@media (min-width: 768px) {
    body.full-width .container {
        width: 100%;
        max-width: 100%;
    }
}

@media (min-width: 992px) {
    [data-page-route=Workspaces] .layout-main .layout-side-section {
        padding-right: 15px;
        flex: 0 0 12.5%;
        max-width: 12.5%;
    }
}

@media (min-width: 1200px) {
    .container-xl, .container-lg, .container-md, .container-sm, .container {
        max-width: 100%;
    }
}
